# TP1

## Repositorios de información

## Ejercicio 1

- Descomprimir el archivo clima.tgz de la carpeta data
- Convertir cada archivo a Dataframe y mostrarlo en pantalla

In [5]:
import tarfile
import pandas as pd
import os

# Constant
path = './data/clima/'

# Descomprimir el archivo clima.tgz de la carpeta data
tar = tarfile.open("data/clima.tgz", "r")
tar.extractall("data/clima/")
tar.close()

# Convertir cada archivo a Dataframe y mostrarlo en pantalla
for file in os.listdir(path):
    if file.endswith(".txt"):
        df = pd.read_csv(os.path.join(path, file), encoding='ISO-8859-1', sep="\t")
        print(f"\nFile: {file}")
        print(df)

File: agosto08.txt
     Unnamed: 0 Unnamed: 1 Temp. Temp..1 Temp..2  Hum.   Pto.    Vel.    Dir.  \
0         Fecha       Hora  Ext.    Máx.    Mín.  Ext.  Rocío  Viento  Viento
1      01/08/08       0:10  29.9    30.1    29.9    15    0.5     0.9     WSW
2      01/08/08       0:20  29.7    29.9    29.7    17    2.1     0.0     WSW
3      01/08/08       0:30  29.3    29.7    29.3    17    1.7     0.0     WSW
4      01/08/08       0:40  29.1    29.3    29.1    18    2.3     0.0     WSW
...         ...        ...   ...     ...     ...   ...    ...     ...     ...
4460   31/08/08      23:20  23.9    24.1    23.9    38    8.8     0.4      SW
4461   31/08/08      23:30  23.9    23.9    23.9    38    8.8     0.9      SW
4462   31/08/08      23:40  23.9    23.9    23.9    38    8.8     0.9      SW
4463   31/08/08      23:50  23.9    23.9    23.9    38    8.8     0.9      SW
4464   01/09/08      00:00  23.8    23.9    23.8    38    8.7     0.4      SW

        Rec.  ... Hum..1 Rocío In.Cal. Unnamed: 31  Hum..2 Temp..4   Muest  \
0     Viento  ...   Int.  Int.  Int.          ET    Hoja 1  Hoja 1  Viento
1       0.54  ...     26   8.2    28.4        0.00     ---     ---     186
2       0.00  ...     26   8.2    28.4        0.00     ---     ---     234
3       0.00  ...     26   8.2    28.4        0.00     ---     ---     235
4       0.00  ...     26   8.2    28.4        0.00     ---     ---     234
...      ...  ...    ...   ...     ...         ...     ...     ...     ...
4460    0.27  ...     26  10.8    31.6        0.00     ---     ---     234
4461    0.54  ...     26  10.7    31.5        0.00     ---     ---     235
4462    0.54  ...     26  10.7    31.5        0.00     ---     ---     234
4463    0.54  ...     26  10.7    31.5        0.00     ---     ---     234
4464    0.27  ...     26  10.7    31.5        0.05     ---     ---     234

        Tx   Recep.  Int.
0     Viento   ISS   Arc.
1          1   81.6    10
2          1  100.0    10
3          1  100.0    10
4          1  100.0    10
...      ...    ...   ...
4460       1  100.0    10
4461       1  100.0    10
4462       1  100.0    10
4463       1  100.0    10
4464       1  100.0    10

[4465 rows x 38 columns]

File: agosto09.txt
     Unnamed: 0 Unnamed: 1 Temp. Temp..1 Temp..2  Hum.   Pto.    Vel.    Dir.  \
0         Fecha       Hora  Ext.    Máx.    Mín.  Ext.  Rocío  Viento  Viento
1      01/08/09       0:10  30.4    30.6    30.4    15    0.8     1.8     WSW
2      01/08/09       0:20  30.4    30.4    30.4    16    1.7     2.2     WSW
3      01/08/09       0:30  30.1    30.4    30.1    17    2.3     0.4       E
4      01/08/09       0:40  29.7    30.1    29.7    17    2.1     0.4     ENE
...         ...        ...   ...     ...     ...   ...    ...     ...     ...
4460   31/08/09      23:20  30.3    30.8    30.3    30   10.8     1.8       W
4461   31/08/09      23:30  29.8    30.3    29.8    31   10.9     2.2     WSW
4462   31/08/09      23:40  29.6    29.8    29.6    32   11.2     3.6     WSW
4463   31/08/09      23:50  29.4    29.6    29.4    33   11.4     4.5     WSW
4464   01/09/09      00:00  29.2    29.4    29.2    34   11.7     3.6       W

        Rec.  ... Hum..1 Rocío In.Cal. Unnamed: 31  Hum..2 Temp..4   Muest  \
0     Viento  ...   Int.  Int.  Int.          ET    Hoja 1  Hoja 1  Viento
1       1.07  ...     13  -0.7    28.7        0.00     ---     ---     233
2       1.34  ...     13  -0.7    28.7        0.00     ---     ---     234
3       0.27  ...     13  -0.7    28.7        0.00     ---     ---     235
4       0.27  ...     13  -0.7    28.7        0.00     ---     ---     234
...      ...  ...    ...   ...     ...         ...     ...     ...     ...
4460    1.07  ...     22   9.3    32.4        0.00     ---     ---     235
4461    1.34  ...     22   9.3    32.4        0.00     ---     ---     233
4462    2.15  ...     22   9.3    32.4        0.00     ---     ---     234
4463    2.68  ...     22   9.3    32.4        0.00     ---     ---     234
4464    2.15  ...     22   9.3    32.4        0.15     ---     ---     234

        Tx   Recep.  Int.
0     Viento   ISS   Arc.
1          1  100.0    10
2          1  100.0    10
3          1  100.0    10
4          1  100.0    10
...      ...    ...   ...
4460       1  100.0    10
4461       1  100.0    10
4462       1  100.0    10
4463       1  100.0    10
4464       1  100.0    10

[4465 rows x 38 columns]

File: agosto10.txt
     Unnamed: 0 Unnamed: 1 Temp. Temp..1 Temp..2  Hum.   Pto.    Vel.    Dir.  \
0         Fecha       Hora  Ext.    Máx.    Mín.  Ext.  Rocío  Viento  Viento
1      01/08/10       0:10  30.7    30.9    30.7    24    7.8     0.9       E
2      01/08/10       0:20  30.4    30.7    30.4    25    8.1     0.4       E
3      01/08/10       0:30  30.1    30.4    30.1    25    7.9     0.4       E
4      01/08/10       0:40  29.7    30.1    29.7    26    8.2     0.4       E
...         ...        ...   ...     ...     ...   ...    ...     ...     ...
4460   31/08/10      23:20  29.6    29.6    29.6    39   14.2     0.9     SSE
4461   31/08/10      23:30  29.4    29.6    29.4    40   14.4     0.9     ENE
4462   31/08/10      23:40  29.2    29.4    29.2    40   14.2     1.8     ENE
4463   31/08/10      23:50  29.1    29.2    29.1    41   14.5     0.9     ENE
4464   01/09/10      00:00  28.9    29.1    28.9    41   14.4     0.9     ENE

        Rec.  ... Grad.D..1 Temp..3 Hum..1 Rocío In.Cal. Unnamed: 31   Muest  \
0     Viento  ...     Frío     Int.   Int.  Int.  Int.          ET    Viento
1       0.54  ...     0.086    34.6     23  10.5    33.3        0.00     231
2       0.27  ...     0.084    34.5     23  10.4    33.2        0.00     234
3       0.27  ...     0.081    34.5     23  10.4    33.2        0.00     235
4       0.27  ...     0.079    34.5     23  10.4    33.2        0.00     234
...      ...  ...       ...     ...    ...   ...     ...         ...     ...
4460    0.54  ...     0.078    35.4     24  11.7    34.6        0.00     232
4461    0.54  ...     0.077    35.4     24  11.7    34.6        0.00     232
4462    1.07  ...     0.075    35.4     24  11.7    34.6        0.00     235
4463    0.54  ...     0.074    35.4     24  11.7    34.6        0.00     234
4464    0.54  ...     0.074    35.4     24  11.7    34.6        0.05     232

        Tx   Recep.  Int.
0     Viento   ISS   Arc.
1          1  100.0    10
2          1  100.0    10
3          1  100.0    10
4          1  100.0    10
...      ...    ...   ...
4460       1  100.0    10
4461       1  100.0    10
4462       1  100.0    10
4463       1  100.0    10
4464       1  100.0    10

[4465 rows x 36 columns]

File: agosto11.txt
     Unnamed: 0 Unnamed: 1 Temp. Temp..1 Temp..2  Hum.   Pto.    Vel.    Dir.  \
0         Fecha       Hora  Ext.    Máx.    Mín.  Ext.  Rocío  Viento  Viento
1      01/08/11       0:10  27.6    27.6    27.6    24    5.2     0.0       S
2      01/08/11       0:20  27.6    27.6    27.6    24    5.2     0.0       S
3      01/08/11       0:30  27.1    27.6    27.1    25    5.4     0.0       S
4      01/08/11       0:40  26.7    27.1    26.7    25    5.0     0.0     ---
...         ...        ...   ...     ...     ...   ...    ...     ...     ...
4460   31/08/11      23:20  22.7    22.7    22.7    64   15.5     3.1       W
4461   31/08/11      23:30  22.6    22.7    22.6    64   15.4     3.1       W
4462   31/08/11      23:40  22.4    22.6    22.4    64   15.3     3.6     WSW
4463   31/08/11      23:50  22.3    22.4    22.3    64   15.1     3.6       W
4464   01/09/11      00:00  22.1    22.3    22.1    65   15.2     3.1       W

        Rec.  ... Grad.D..1 Temp..3 Hum..1 Rocío In.Cal. Unnamed: 31   Muest  \
0     Viento  ...     Frío     Int.   Int.  Int.  Int.          ET    Viento
1       0.00  ...     0.064    30.9     23   7.4    29.2        0.00     228
2       0.00  ...     0.064    30.9     23   7.4    29.2        0.00     229
3       0.00  ...     0.061    30.9     23   7.4    29.2        0.00     229
4       0.00  ...     0.058    30.9     23   7.4    29.2        0.00     228
...      ...  ...       ...     ...    ...   ...     ...         ...     ...
4460    1.88  ...     0.030    26.9     22   3.4    25.3        0.00     228
4461    1.88  ...     0.029    26.8     22   3.3    25.3        0.00     227
4462    2.15  ...     0.029    26.8     22   3.3    25.3        0.00     229
4463    2.15  ...     0.027    26.8     22   3.3    25.3        0.00     214
4464    1.88  ...     0.026    26.7     22   3.2    25.2        0.08     229

        Tx   Recep.  Int.
0     Viento   ISS   Arc.
1          2  100.0    10
2          2  100.0    10
3          2  100.0    10
4          2  100.0    10
...      ...    ...   ...
4460       2  100.0    10
4461       2  100.0    10
4462       2  100.0    10
4463       2   96.4    10
4464       2  100.0    10

[4465 rows x 36 columns]

File: agosto12.txt
     Unnamed: 0 Unnamed: 1 Temp. Temp..1 Temp..2  Hum.   Pto.    Vel.    Dir.  \
0         Fecha       Hora  Ext.    Máx.    Mín.  Ext.  Rocío  Viento  Viento
1      01/08/12       0:10  31.7    32.2    31.7    18    4.5     0.4      SW
2      01/08/12       0:20  31.2    31.7    31.2    19    4.8     0.0     ---
3      01/08/12       0:30  30.6    31.2    30.6    19    4.4     0.4     SSE
4      01/08/12       0:40  30.4    30.6    30.4    19    4.2     1.3     ESE
...         ...        ...   ...     ...     ...   ...    ...     ...     ...
4460   31/08/12      23:20  26.7    27.0    26.7    18    0.4     0.9      NW
4461   31/08/12      23:30  26.4    26.7    26.4    18    0.1     0.4      NW
4462   31/08/12      23:40  26.1    26.4    26.1    18   -0.1     0.4      NW
4463   31/08/12      23:50  25.9    26.1    25.9    18   -0.3     0.4      NW
4464   01/09/12      00:00  25.7    25.9    25.7    17   -1.2     0.4      NW

        Rec.  ... Grad.D..1 Temp..3 Hum..1 Rocío In.Cal. Unnamed: 31   Muest  \
0     Viento  ...     Frío     Int.   Int.  Int.  Int.          ET    Viento
1       0.27  ...     0.093    32.3     22   7.8    30.6        0.00     227
2       0.00  ...     0.089    32.3     22   7.8    30.6        0.00     229
3       0.27  ...     0.085    32.3     22   7.8    30.6        0.00     227
4       0.80  ...     0.084    32.3     22   7.8    30.6        0.00     229
...      ...  ...       ...     ...    ...   ...     ...         ...     ...
4460    0.54  ...     0.058    33.1     22   8.5    31.4        0.00     177
4461    0.27  ...     0.056    33.1     22   8.5    31.4        0.00     156
4462    0.27  ...     0.054    33.1     22   8.5    31.4        0.00     151
4463    0.27  ...     0.052    33.1     22   8.5    31.4        0.00     150
4464    0.27  ...     0.051    33.1     22   8.5    31.4        0.05     155

        Tx   Recep.  Int.
0     Viento   ISS   Arc.
1          2  100.0    10
2          2  100.0    10
3          2  100.0    10
4          2  100.0    10
...      ...    ...   ...
4460       2   79.7    10
4461       2   70.3    10
4462       2   68.0    10
4463       2   67.6    10
4464       2   69.8    10

[4465 rows x 36 columns]

## Ejercicio 2

- Obtener de la API de <a href="https://wikimedia.org/api/rest_v1/#/Pageviews%20data">Wikimedia </a> la cantidad de visitas en este año a la página Albert Einstein por día.
- Mostrar el Dataframe obtenido por pantalla

In [6]:
import pandas as pd
import urllib.request
import json

URL = 'https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/Albert_Einstein/daily/20210101/20210829'

# Get json from web
with urllib.request.urlopen(URL) as url:
    data = json.loads(url.read())

# Collect total views
total_views = 0
for item in data['items']:
    total_views += item['views']

# Create DataFrame for data
df = pd.DataFrame(data['items'])

# Show Table
print(df[['project', 'article', 'granularity', 'timestamp', 'views']])
print(f"\nTotal Views: {total_views}")

          project          article granularity   timestamp  views
0    en.wikipedia  Albert_Einstein       daily  2021010100  14662
1    en.wikipedia  Albert_Einstein       daily  2021010200  15512
2    en.wikipedia  Albert_Einstein       daily  2021010300  16121
3    en.wikipedia  Albert_Einstein       daily  2021010400  16937
4    en.wikipedia  Albert_Einstein       daily  2021010500  17656
..            ...              ...         ...         ...    ...
235  en.wikipedia  Albert_Einstein       daily  2021082400  16735
236  en.wikipedia  Albert_Einstein       daily  2021082500  16161
237  en.wikipedia  Albert_Einstein       daily  2021082600  16084
238  en.wikipedia  Albert_Einstein       daily  2021082700  15217
239  en.wikipedia  Albert_Einstein       daily  2021082800  14068

[240 rows x 5 columns]

Total Views: 4205056

## Ejercicio 3

- Crear una base de datos MySQL
- Crear una tabla que contenga nombre, apellido y teléfono
- Obtener de la base de datos la lista de personas ordenada por apellido de forma descendente
- Mostrar el Dataframe resultante por pantalla

In [7]:
import pandas as pd
import sqlite3

# Open file .db
con = sqlite3.connect('./data/course.db')
con.execute("PRAGMA busy_timeout = 30000")

# Create Object Cursor
c = con.cursor()
c.execute('create table if not exists person(firstname, lastname, phone)')

# Insert Values
c.execute('''insert into person(firstname, lastname, phone) values
('Oscar', 'Zeta', '2604569531'),
('Juampi', 'Garcia', '2625432584'),
('Carlos', 'Rodriguez', '2648521816'),
('Ezequiel', 'Garcia', '2625464355'),
('Lucas', 'Arbeloa', '2665489532')''')

# Get Table order by lastname
res = c.execute('select * from person order by "lastname"')

# Show data
df = pd.DataFrame(res.fetchall())
print(df)

# Close connection
con.close()

          0          1           2
0     Lucas    Arbeloa  2665489532
1    Juampi     Garcia  2625432584
2  Ezequiel     Garcia  2625464355
3    Carlos  Rodriguez  2648521816
4     Oscar       Zeta  2604569531

## Ejercicio 4

- Obtener de la API <a href="https://date.nager.at/swagger/index.html">Nager.Date</a> las fiestas nacionales argentinas para el 2021
- Mostrar el dataframe resultante por pantalla

In [8]:
import pandas as pd
import json
import requests

URL = 'https://date.nager.at/api/v2/PublicHolidays/2021/AR'

with requests.get(URL) as url:
    data = json.loads(url.text)

df = pd.DataFrame(data)
print(df[['date', 'localName']])

          date                                          localName
0   2021-01-01                                          Año Nuevo
1   2021-02-15                                           Carnaval
2   2021-02-16                                           Carnaval
3   2021-03-24  Día Nacional de la Memoria por la Verdad y la ...
4   2021-04-02  Día del Veterano y de los Caídos en la Guerra ...
5   2021-04-02                                      Viernes Santo
6   2021-05-01                                 Día del Trabajador
7   2021-05-25                       Día de la Revolución de Mayo
8   2021-06-17  Paso a la Inmortalidad del General Martín Migu...
9   2021-06-20  Paso a la Inmortalidad del General Manuel Belg...
10  2021-07-09                            Día de la Independencia
11  2021-08-16  Paso a la Inmortalidad del General José de San...
12  2021-10-11           Día del Respeto a la Diversidad Cultural
13  2021-11-20                       Día de la Soberanía Nacional
14  2021-12-08           Día de la Inmaculada Concepción de María
15  2021-12-25                                            Navidad

## Ejercicio 5

- Obtener una tabla informativa de una página a elección con Web Scrapping
- Mostrar el Dataframe resultante por pantalla

In [9]:
import pandas as pd
import requests
import json

URL = 'https://age-of-empires-2-api.herokuapp.com/api/v1/civilizations'

with requests.get(URL) as url:
    data = json.loads(url.text)

df = pd.DataFrame(data['civilizations'])
print(df[['name', 'expansion', 'army_type']])

          name          expansion                       army_type
0       Aztecs     The Conquerors               Infantry and Monk
1      Britons       Age of Kings                     Foot Archer
2   Byzantines       Age of Kings                       Defensive
3        Celts       Age of Kings                        Infantry
4      Chinese       Age of Kings                          Archer
5       Franks       Age of Kings                         Cavalry
6        Goths       Age of Kings                        Infantry
7         Huns     The Conquerors                         Cavalry
8     Japanese       Age of Kings                        Infantry
9      Koreans     The Conquerors                 Tower and naval
10      Mayans     The Conquerors                          Archer
11     Mongols       Age of Kings                  Cavalry Archer
12    Persians       Age of Kings                         Cavalry
13    Saracens       Age of Kings                 Camel and naval
14     Spanish     The Conquerors              Gunpowder and Monk
15     Teutons       Age of Kings                        Infantry
16       Turks       Age of Kings                       Gunpowder
17     Vikings       Age of Kings              Infantry and naval
18     Berbers   African Kingdoms               Calvary and Naval
19     Burmese      Rise of Rajas               Monk and Elephant
20  Ethiopians   African Kingdoms                          Archer
21       Goths       Age of Kings                        Infantry
22       Incas  Forgotten Empires                        Infantry
23     Indians  Forgotten Empires           Gunpowder and Cavalry
24    Italians  Forgotten Empires                Archer and naval
25    Japanese       Age of Kings                        Infantry
26       Khmer      Rise of Rajas  Siege and Elephant Civilzation
27     Magyars  Forgotten Empires                Calvary Infantry
28     Malians   African Kingdoms                        Infantry
29  Portuguese   African Kingdoms             Naval and Gunpowder
30       Slavs  Forgotten Empires                         Cavalry
31  Vietnamese      Rise of Rajas                          Archer