In [1]:
import pandas as pd
import requests
import os

# Descomprimir archivos

## Zip

In [3]:
# Importar zipfile
from zipfile import ZipFile

# Path a archivo zip
file = '../data/sales.zip'

# Leer archivo zip
with ZipFile(file, 'r') as objetoZip:
   # Extraer todo el contenido en la carpeta
   objetoZip.extractall("../data/")

## Tar Gz

In [4]:
# Importar archivo tar
import tarfile

# Abrir archivo tar.gz tgz
objetoTar = tarfile.open("../data/globos.tar.gz", "r:gz")
# Extraer todo el contenido en la carpeta
objetoTar.extractall("../data/")
# Cerrar lectura
objetoTar.close()

# Archivos de texto plano

## CSV

In [5]:
# Leer csv y convertirlo a panda frame
df = pd.read_csv(r'../data/class-grades.csv')
df

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [ ]:
# Especificar delimitador de columnas
df = pd.read_csv(r'../data/adult.data', delimiter = ",")
df

In [ ]:
# Especificar que la primer columna no es la cabecera de la tabla
df = pd.read_csv('./data/agosto18.txt', delimiter = "\t", header=None)
df

In [ ]:
# Cargar cabecera a dataframe
df = pd.read_csv('../data/agosto18.txt', delimiter = "\t", header=None)
df.columns = ["Columna 1","Columna 2","Columna 3", "Columna 4","Columna 5","Columna 6","Columna 7","Columna 8","Columna 9","Columna 10","Columna 11","Columna 11","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 5","Columna 26","Columna 27","Columna 28","Columna 29","Columna 30","Columna 31","Columna 32","Columna 33","Columna 34","Columna 35","Columna 36"]
df

## JSON

In [ ]:
# Importar librería de JSON
import json

# Leer archivo JSON
with open('../data/amazonia.json','r') as file:
    # Cargar contenido de JSON en diccionario
    data = json.load(file)


# Convertir JSON en dataframe
df = pd.DataFrame(data["items"])
df

# Hojas de cálculo
## Excel

In [ ]:
# Leer contenido de archivo Excel y convertirlo a dataframe
df = pd.read_excel(r'../data/vino.xls')
df

In [ ]:
# Obtener archivo Excel
xl = pd.ExcelFile(r'../data/vino.xls')
# Obtener nombres de pestañas
xl.sheet_names

In [ ]:
# Leer contenido de una pestaña y convertirlo a dataframe
df = pd.read_excel(r'../data/vino.xls',sheet_name='vino2')
df

## Libre Office Calc

In [ ]:
# Leer contenido de una pestaña y convertirlo a dataframe
df = pd.read_excel(r'./data/vino.ods',sheet_name='vino2')
df

# Base de datos

## SQLite

In [ ]:
# Importar librería de SQLite
import sqlite3

# Abrir conexión con archivo
con=sqlite3.connect('./data/course.db')
# Crear objetuco cursor
cur = con.cursor()
# Ejecutar consulta
rs = cur.execute('select * from professor')
# Guardar resultados de la consulta en un dataframe
df = pd.DataFrame(rs.fetchall())
# Cerrar conexión
con.commit()
df

## Mysql

In [ ]:
# Importar conector mysql
import mysql.connector as connection
# Crear conexión a la db
db = connection.connect(host="localhost", database = 'Prueba',user="root", passwd="12345",use_pure=True)
# Consulta
query = "SELECT * from Profesores;"
# Realizar consulta y convertir el resultado en dataframe
df = pd.read_sql(query,db)
# Cerrar conexión
db.close()
df

# Web Scrapping

In [ ]:
url = 'https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses'

#Leer elementos table de html y convertirlos a dataframe
tables = pd.read_html(url, header=0, index_col=0)

tables[1]

In [ ]:
url = 'https://www.inpres.gob.ar/desktop/'

#Leer elementos table de html y convertirlos a dataframe
tables = pd.read_html(url, header=0, index_col=0)

tables[4]

# Archivos remotos
## Descargar archivo

In [ ]:
import requests
#URL
url = "https://cdn.buenosaires.gob.ar/datosabiertos/datasets/polideportivos/polideportivos.csv"
#Obtener URL
respuesta = requests.get(url)
#Obtener contenido de la respuesta
contenido = respuesta.content
#Abrir archivo para escritura
archivo = open('polideportivos.csv', 'wb')
#Escribir el contenido
archivo.write(contenido)
#Cerrar archivo
archivo.close()

## Leer remotamente

In [ ]:
# Leer csv y convertirlo a panda frame
df = pd.read_csv(url)
df

# API

<a href="https://github.com/public-apis/public-apis">Lista de API de acceso público</a>

In [ ]:
# Realizar request a la API
r = requests.get('https://dog-facts-api.herokuapp.com/api/v1/resources/dogs/all')
# Convertir JSON a diccionario
data = r.json()


# Convertir diccionario a dataframe
df = pd.DataFrame(data)
df

In [ ]:
# Realizar request a la API
r = requests.get('https://palabras-aleatorias-public-api.herokuapp.com/palabras-aleatorias?_page=1&_size=5')
# Convertir JSON a diccionario
data = r.json()

# Convertir diccionario a dataframe
df = pd.DataFrame(data["body"])
df